/*
 *
 * FONT
 *
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');

/*
 *
 * VARIABLES
 *
 */

// App Colors
$color-black1: #222831;

// App General Variables
$bodyBgColor: #f5f5f5;
$bodyColor: #000000;
$fontSize: 14px;

// App Font
$fontFamily: 'Roboto', sans-serif;